<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/html"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/css/addAccountFormStyle.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Add account form</title>
</head>
<body>
<button  th:if="${usersAccountCeil}" type="button" class="btn btn-outline-info btn-sm px-3 me-sm-3 fw-bold"
        title="Add account" value="Add account" onclick="openForm()"
><i class="fa-solid fa-plus"></i></button>
<div class="account-form-popup" id="myForm"
     th:object="${accountDTO}"
     th:classappend="${#fields.hasErrors('*')} ? 'display-account-form' : 'hide-account-form'">
    <form
            th:action="@{${#strings.isEmpty(name) ? '/homePage' : '/addAccount'}}"
            th:method="post"
            class="form-container">


        <div class="d-flex flex-column" style="margin: 5px" id="form">
            <label class="addAccountLabel">Account name</label>
            <input type="text" placeholder="Account name" name="name" id="name" class="addAccountField"
           minlength="2" maxlength="30">
            <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="errors"></div>
        </div>

        <div class="d-flex flex-column" style="margin: 5px">
            <label class="addAccountLabel">Add funds</label>
            <input type="number" min="0" max="9999999"  placeholder="1000$" name="currentAmount" id="currentAmount" class="addAccountField">
            <div th:if="${#fields.hasErrors('currentAmount')}" th:errors="*{currentAmount}" class="errors"></div>
        </div>

        <button type="submit" class="button" id="submitButton" disabled>Add Account</button>
        <button type="button" class="button" onclick="closeForm()">Close</button>
    </form>
</div>
<script>

    const name = document.getElementById('name');
    const currentAmount = document.getElementById('currentAmount');
    const submitButton = document.getElementById('submitButton');

    function checkFormValidity() {
        const isNameValid = name.value.trim() !== '';
        const isAmountValid = currentAmount.value.trim() !== '';

        submitButton.disabled = !(isNameValid && isAmountValid);
    }

    name.addEventListener('input', checkFormValidity);
    currentAmount.addEventListener('input', checkFormValidity);

    function openForm() {
        document.getElementById("myForm").style.display = "block";
    }

    function closeForm() {
        document.getElementById("myForm").style.display = "none";
    }

    window.addEventListener('mouseup', function (event) {
        let accountForm = document.getElementById('myForm');
        if (!accountForm.contains(event.target)) {
            accountForm.style.display = 'none';
        }
    });
</script>
</body>
</html>