<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/html"
      xmlns:th="http://www.thymeleaf.org">
<head
        th:include="~{fragments/head-fragment :: meta-tags('addAccountFormStyle.css', null)}">
        <title>Add account form</title>
</head>
<body>


<button
        th:if="${usersAccountCeil}" type="button" class="btn btn-outline-info btn-sm px-3 me-sm-3 fw-bold"
        title="Add account" value="Add account"
        data-bs-toggle="modal" data-bs-target="#addAccountModal">
    <i class="fa-solid fa-plus"></i></button>

<div class="modal fade" id="addAccountModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="addAccountModalContent">
            <div class="flex-grow-1 account-form-popup">
                <div class="d-flex justify-content-between align-items-center modal-header">
                    <div>
                        <h5 class="modal-title" id="addAccountModalLabel">Add Account</h5>
                    </div>
                </div>
                <div class="modal-body"
                     th:object="${accountDTO}">
                    <form
                            th:action="@{${#strings.isEmpty(name) ? '/homePage' : '/addAccount'}}"
                            th:method="post"
                            class="form-container">


                        <div class="d-flex flex-column" style="margin: 5px" id="form">
                            <label class="addAccountLabel">Account name</label>
                            <input type="text" placeholder="Account name" name="name" id="name" class="addAccountField"
                                   minlength="2" maxlength="30">
                            <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="errors"></div>
                        </div>

                        <div class="d-flex flex-column" style="margin: 5px">
                            <label class="addAccountLabel">Add funds</label>
                            <input type="number" min="0" max="9999999" placeholder="1000$" name="currentAmount"
                                   id="currentAmount"
                                   class="addAccountField">
                            <div th:if="${#fields.hasErrors('currentAmount')}" th:errors="*{currentAmount}"
                                 class="errors"></div>
                        </div>

                        <button type="submit" class="button" id="submitButton" disabled>Add Account</button>
                        <button type="button" class="button" data-bs-dismiss="modal">Close</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    const name = document.getElementById('name');
    const currentAmount = document.getElementById('currentAmount');
    const submitButton = document.getElementById('submitButton');

    function checkFormValidity() {
        const isNameValid = name.value.trim() !== '';
        const isAmountValid = currentAmount.value.trim() !== '';

        submitButton.disabled = !(isNameValid && isAmountValid);
    }

    name.addEventListener('input', checkFormValidity);
    currentAmount.addEventListener('input', checkFormValidity);

    document.addEventListener("DOMContentLoaded", function() {
        let errors = document.querySelectorAll('#addAccountModal .errors');
        let hasErrors = Array.from(errors).some(error => error.textContent.trim() !== '');
        if (hasErrors) {
            let myModal = new bootstrap.Modal(document.getElementById('addAccountModal'), {});
            myModal.show();
        }
    });
</script>
</body>
</html>