<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/html"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
<!--    <script type="text/javascript" th:src="@{/js/addExpenseJS.js}"></script>-->
    <link rel="stylesheet" th:href="@{css/addExpenseFormStyle.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Add expense form</title>
</head>
<body>
<button type="button" class="btn btn-outline-info btn-sm px-3 me-sm-3 fw-bold"
        title="Add expense" value="Add expense" onclick="openExpenseForm()" id="addExpenseFormBtn"
><i class="fa-solid fa-plus"></i></button>
<div class="form-popup1" id="myExpenseForm">
    <form
            th:action="@{${#strings.isEmpty(name) ? '/index' : '/addExpense'}}"
            th:method="post"
            th:object="${expenseDTO}"
            class="form-container">
        <div class="d-flex flex-column">
            <div class="d-flex flex-column justify-content-between" style="margin: 5px" id="form">
                <label id="billLabel">Bill</label>
                <!--      TODO: ADD SUGGESTIONS-->
                <input type="text" placeholder="Electricity, Water, Internet, Gas..." name="name" id="name">
            </div>
            <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="errors"></div>
        </div>
        <div class="form-group">
            <div class="d-flex flex-column justify-content-between" style="margin: 5px">
                <div class="d-flex flex-column">
                    <div class="d-flex">
                        <button class="btn1" type="button" id="weekly">Weekly</button>
                        <button class="btn1" type="button" id="monthly">Monthly</button>
                        <button class="btn1" type="button" id="yearly">Yearly</button>
                        <button class="btn1" type="button" id="custom">One time buy</button>
                    </div>
                    <div th:if="${#fields.hasErrors('period')}" th:errors="*{period}" class="errors"></div>
                </div>
                <div>
                    <select id="content" class="dropdown-content"></select>
                </div>
                <div class="d-flex flex-column">
                    <p id="every">Every</p>
                    <div id="datepicker">
                        <input type="text" id="datepickerInput" name="dateDue" th:replace="~{fragments/datepicker}">
                    </div>
                    <input type="text" id="dateInputField" name="periodDate">
                    <div th:if="${#fields.hasErrors('periodDate')}" th:errors="*{periodDate}" class="errors"></div>
                    <input type="hidden" id="period" name="period">
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-between" style="margin: 5px">
            <div class="d-flex flex-column">
                <div>
                    <label>Amount needed</label>
                    <input type="number" min="0" placeholder="1000$" name="assigned" id="amountNeeded">
                </div>
                <div th:if="${#fields.hasErrors('assigned')}" th:errors="*{assigned}" class="errors"></div>
            </div>
        </div>
        <div class="d-flex justify-content-between" style="margin: 5px">
            <div class="d-flex flex-column">
                <div>
<!--                    TODO: ADD LIST WITH ACCOUNTS-->
                    <label id="accountToUseLabel">Account to use</label>
                    <select name="accountToUse">
                        <option
                        th:each="a : ${allAccountsInfoDTO.getAllAccounts()}"
                        th:text="${a.getName()}"
                        th:value="${a.getName()}"
                        >

                        </option>
                    </select>
                </div>
                <div th:if="${#fields.hasErrors('accountToUse')}" th:errors="*{accountToUse}" class="errors"></div>
            </div>
        </div>

        <button type="submit" class="button" id="submitButton">Add</button>
        <button type="button" class="button" onclick="closeExpenseForm()">Close</button>
    </form>
</div>

<script>
    let weeklyBtn = document.getElementById("weekly");
    let monthlyBtn = document.getElementById("monthly");
    let yearlyBtn = document.getElementById("yearly");
    let customBtn = document.getElementById("custom");

    let contentDiv = document.getElementById("content");
    let dateInputField = document.getElementById("dateInputField");
    let datePicker = document.getElementById("datepicker");
    let period = document.getElementById("period");
    let datepickerInput = document.getElementById("datepickerInput");

    weeklyBtn.addEventListener("click", function () {
        period.value = 'weekly';
        buttonsBgColourClear()
        weeklyBtn.style.backgroundColor = '#0099cc';
        contentDiv.innerHTML = "";
        dateInputField.value = "Sunday";
        dateInputField.type = "text";
        datePicker.style.display = "none";
        const daysOfWeek = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];
        daysOfWeek.forEach(day => {
            const option = document.createElement('option');
            option.textContent = day;
            contentDiv.appendChild(option);

        });
        contentDiv.style.display = "block"
        contentDiv.classList.toggle("show");

    });

    monthlyBtn.addEventListener("click", function () {
        period.value = 'monthly';
        buttonsBgColourClear()
        monthlyBtn.style.backgroundColor = '#0099cc';
        contentDiv.innerHTML = "";
        dateInputField.value = "Last day of month";
        dateInputField.type = "text";
        datePicker.style.display = "none";
        const datesOfMonth = ['Last day of month', '31th', '30th', '29th', '28th', '27th', '26th', '25th', '24th', '23th', '22nd'
            , '21st', '20th', '19th', '18th', '17th', '16th', '15th', '14th', '13th', '12th', '11th', '10th', '9th', '8th', '7th'
            , '6th', '5th', '4th', '3th', '2nd', '1st'];

        datesOfMonth.forEach(day => {
            const option = document.createElement('option');
            option.textContent = day;
            contentDiv.appendChild(option);

        });

        contentDiv.style.display = "block"
        contentDiv.classList.toggle("show");

    });

    contentDiv.addEventListener("change", function () {
        dateInputField.value = contentDiv.options[contentDiv.selectedIndex].text;
    })
    yearlyBtn.addEventListener("click", function () {
        period.value = 'yearly';
        buttonsBgColourClear()
        yearlyBtn.style.backgroundColor = '#0099cc';
        contentDiv.innerHTML = "";
        contentDiv.style.display = "none";
        dateInputField.value = "";
        dateInputField.type = "hidden";
        datePicker.style.display = "block";
    });

    customBtn.addEventListener("click", function () {
        period.value = 'custom';
        buttonsBgColourClear()
        customBtn.style.backgroundColor = '#0099cc';
        contentDiv.innerHTML = "";
        contentDiv.style.display = "none";
        dateInputField.value = "";
        dateInputField.type = "hidden";
        datePicker.style.display = "block";
    });


    function openExpenseForm() {
        datePicker.style.display = "none";
        document.getElementById("myExpenseForm").style.display = "block";
    }

    function closeExpenseForm() {
        document.getElementById("myExpenseForm").style.display = "none";
    }

    function buttonsBgColourClear() {
        weeklyBtn.style.backgroundColor = 'white';
        monthlyBtn.style.backgroundColor = 'white';
        yearlyBtn.style.backgroundColor = 'white';
        customBtn.style.backgroundColor = 'white';
    }


    window.addEventListener('click', function (event) {
        const expenseForm = document.getElementById('myExpenseForm');
        const isClosest = event.target.closest('#myExpenseForm, #datepicker, #addExpenseFormBtn');
        if (!isClosest) {
            expenseForm.style.display = 'none';
        }
    });
</script>

</body>
</html>