<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/html"
      xmlns:th="http://www.thymeleaf.org">
<head
        th:include="~{fragments/head-fragment :: meta-tags('completedGoalsFragment.css', null)}">
        <title>Completed goals</title>
</head>
<body>
<div class="d-flex" id="completedGoalsEndDiv">
    <div>
        <p id="completedGoalsDescPara">Check out your completed goals here</p>
    </div>
    <div>
        <img src="/images/curvy-arrow.png" alt="#">
    </div>
    <button type="button" class="btn fw-bold" id="completedGoalsBtn"
            title="Completed goals" value="completed goals" data-bs-toggle="modal" data-bs-target="#completedGoalsModal"
    ><i class="fa-solid fa-heart fa-1x" style="color: red"></i></button>
</div>

<div class="modal fade" id="completedGoalsModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document" id="modal-dialog">
        <div class="modal-content" id="completedGoalsContent">
            <div class="flex-grow-1">
                <div class="modal-header">
                    <h5 class="modal-title" id="completedGoalsModalLabel"
                    th:text="${allCompletedGoalsInfoDTO.getCompletedGoals().size()} == 0 ? 'No completed goals so far :(' : 'Hey check it out! Your accomplishments so far!'"
                    >asd</h5>
                </div>
                <div class="modal-body">
                    <div class="flex-grow-1">
                        <!--        div for table-->
                        <div class="d-flex">
                            <table class="table table-borderless table-hover table-responsive" id="completedGoalsTable"
                                   th:action="@{/allGoalsPage}"
                                   th:method="get"
                                   th:object="${allCompletedGoalsInfoDTO}">

                                <thead>
                                <tr>
                                    <th scope="col" width=""><i class="fa-solid fa-star"></i></th>
                                    <th scope="col" width="15%">Goal</th>
                                    <th scope="col" width="15%">Target</th>
                                    <th scope="col" width="20%">Started</th>
                                    <th scope="col" width="20%">Completed</th>
                                    <th scope="col" width="30%">Description</th>
                                </tr>
                                </thead>

                                <tbody>

                                <tr class="border-top border-bottom"
                                    th:each="g : ${allCompletedGoalsInfoDTO.getCompletedGoals()}"
                                >
                                    <td>
                                        <i class="fa-solid fa-star"></i>
                                    </td>
                                    <td

                                            th:text="${g.getName()}"
                                            th:value="${g.getName()}"
                                            style="padding-left: 15px; font-weight: 550;">
                                    </td>
                                    <td
                                            th:text="${'$' + g.getAmountToBeSaved()}"
                                            th:value="${'$' + g.getAmountToBeSaved()}"
                                            style="border: none; font-weight: bold; font-style: italic;">

                                    </td>
                                    <td
                                            th:text="${g.getCreatedOn()}"
                                            th:value="${g.getCreatedOn()}"
                                            style="font-weight: 550;">

                                    </td>
                                    <td
                                            th:text="${g.getCompletedOn()}"
                                            th:value="${g.getCompletedOn()}"
                                            style="font-weight: 550;">

                                    </td>
                                    <td
                                            th:text="${g.getDescription()}"
                                            th:value="${g.getDescription()}"
                                            style="font-weight: 550;">

                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>





