<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/html"
      xmlns:th="http://www.thymeleaf.org">
<head
        th:include="~{fragments/head-fragment :: meta-tags('editAccountFormStyle.css', null)}">
        <title>Edit account form</title>
</head>
<body>
<button  id="open-btn"
></button>
<div class="form-popup" id="myForm1">
    <form
            th:action="@{${#strings.isEmpty(name) ? '/allAccountsPage' : '/editAccount'}}"
            th:method="post"
            th:object="${editAccountInfoDTO}"
            class="form-container">
        <div class="d-flex justify-content-between" style="margin: 5px" id="form">
            <label>Account name</label>
            <input type="text" placeholder="Account name" name="newAccountName" id="name"
                   minlength="2" maxlength="30">
        </div>

        <div class="d-flex justify-content-between" style="margin: 5px">
            <label>Add funds</label>
            <input type="text" placeholder="1000$" min="0" max="9999999" name="addedAmount" id="amount">
        </div>

        <button type="submit" class="button" id="submitButton" disabled>Add Account</button>
        <button type="button" class="button" onclick="closeEditForm()">Close</button>
    </form>
</div>
<script>

    const name = document.getElementById('newAccountName');
    const currentAmount = document.getElementById('addedAmount');
    const submitButton = document.getElementById('submitButton');

    // Function to check if all required fields are filled
    function checkFormValidity() {
        const isNameValid = name.value.trim() !== '';
        const isAmountValid = currentAmount.value.trim() !== '';

        submitButton.disabled = !(isNameValid && isAmountValid);
    }

    name.addEventListener('input', checkFormValidity);
    currentAmount.addEventListener('input', checkFormValidity);

    function openEditForm1() {
        document.getElementById("myForm1").style.display = "block";
    }

    function closeEditForm() {
        document.getElementById("myForm1").style.display = "none";
    }

    const openBtn = document.getElementById("open-btn");
    openBtn.addEventListener("click", function () {
        document.getElementById("myForm1").style.display = "block";
    });
</script>
</body>
</html>