<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
    <!--    FONTAWESOME KIT-->
    <script src="https://kit.fontawesome.com/1a33788db9.js" crossorigin="anonymous"></script>
    <script type="text/javascript" th:src="@{/js/editExpenseJS.js}"></script>
    <link rel="stylesheet" th:href="@{css/expensesTableStyle.css}">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Expenses table</title>
</head>
<body >
<div class="flex-grow-1">
    <!--        div for table-->
    <div class="table-responsive-md">
        <table class="table table-borderless table-hover"
               th:action="@{/index}"
               th:method="get"
               th:object="${userExpenses}">

            <thead>
            <tr class="">
                <th scope="col" width="25%" style="padding-left: 15px">BILL</th>
                <th scope="col" width="35%">TARGET</th>
                <th scope="col" width="25%"><span>ACCOUNT ASSIGNED</span></th>
                <th scope="col" width="15%"></th>
            </tr>
            </thead>

            <tbody>

            <tr class="border-top border-bottom" th:each="e : ${userExpenses}"
                th:id="'expenseRow-' + ${e.getId()}">

                <td
                        th:text="${e.getName()}"
                        th:value="${e.getName()}"
                        style="padding-left: 15px; font-weight: 550;">
                </td>
                <td
                        th:text="'$' + ${e.assigned} + ' needed by ' + ${e.periodDate}"
                        th:value="'$' + ${e.assigned} + ' needed by ' + ${e.periodDate}"
                        style="border: none; font-weight: bold; font-style: italic;">
                </td>

                <td style="font-weight: 550;">
                    <a th:href="@{allAccountsPage}" style="text-decoration: none; color: #1E88E5">
                        <th:block
                                th:text="${e.getAccount().getName()}"
                                th:value="${e.getAccount().getName()}"></th:block>
                    </a>


                </td>

                <!--                EDIT AND DELETE BTN!-->

                <td>
                    <div class="d-flex flex-row">
                        <div style="margin-right: 5px">
                            <form
                                    th:action="@{/editExpense}"
                                    th:method="post">
                                <button
                                        type="button" class="btn btn-outline-info btn-sm px-3 me-sm-1 fw-bold"
                                        th:id="'updateExpenseButton-' + ${e.getId()}" name="expenseId"
                                        title="Edit expense" th:value="${e.getId()}"
                                        data-bs-toggle="modal" data-bs-target="#editExpenseModal"
                                        th:onclick="testJS(/*[[${e.getId()}]]*/)">
                                    <i class="fa-solid fa-pen-to-square"></i></button>

                            </form>
                        </div>
                        <div>
                            <form
                                    th:action="@{/deleteExpense}"
                                    th:method="get">
                                <a class="btn btn-outline-info btn-sm px-3 me-sm-3 fw-bold" title="Delete expense"
                                   th:href="@{/deleteExpense/{expenseId}(expenseId = ${e.getId()})}">
                                    <i class="fa-solid fa-trash-can"></i></a>

                            </form>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>

        </table>
    </div>
</div>

<div class="modal fade" id="editExpenseModal" tabindex="-1" role="dialog" aria-labelledby="editExpenseModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="expenseModalContent">
            <form
                    th:action="@{/editExpense}"
                    th:method="post"
                    th:object="${editExpenseInfoDTO}">
                <div class="flex-grow-1">
                    <div class="d-flex justify-content-between align-items-center modal-header">
                        <div id="editExpenseModalLabel">
                            <h5 class="modal-title" >Edit Expense</h5>
                        </div>
                        <div id="editExpenseInfo">
                            <div class="editExpenseInfo"><i class="fa-solid fa-circle-info fa-2x"></i></div>
                            <div class="hide">Did you know? You don't have to fill every field! Just the ones you want to update</div>
                        </div>
                    </div>
                    <div class="modal-body">

                        <div class="d-flex flex-column">
                            <div class="d-flex flex-column justify-content-between" style="margin: 5px" id="form">
                                <label id="billLabel">Bill</label>
                                <input class="expenseTableInput" type="text" placeholder="Bill name" name="name" id="name">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="d-flex flex-column justify-content-between" style="margin: 5px">
                                <div class="d-flex flex-column">
                                    <div class="d-flex">
                                        <button class="btn2" type="button" id="weekly1">Weekly</button>
                                        <button class="btn2" type="button" id="monthly1">Monthly</button>
                                        <button class="btn2" type="button" id="yearly1">Yearly</button>
                                        <button class="btn2" type="button" id="custom1">One time buy</button>
                                    </div>
                                </div>
                                <div>
                                    <select id="content1" class="dropdown-content"></select>
                                </div>
                                <div class="d-flex flex-column">
                                    <p id="every">Every</p>
                                    <div id="datepicker1">
                                        <input type="text" id="datepickerInput1" name="dateDue"
                                               th:replace="~{fragments/datepicker}">
                                    </div>
                                    <input class="expenseTableInput" type="text" id="dateInputField1" name="periodDate">
                                    <input type="hidden" id="period1" name="period">
                                </div>
                            </div>
                        </div>

                        <div class="d-flex justify-content-between" style="margin: 5px">
                            <div class="d-flex flex-column">
                                <div>
                                    <label>Amount needed</label>
                                    <input type="number" min="0" placeholder="1000$" name="assigned" id="amountNeeded">
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between" style="margin: 5px">
                            <div class="d-flex flex-column" style="width: 100%">
                                    <label id="accountToUseLabel">Account to use</label>
                                    <select name="accountToUse" id="editExpenseAccountSelect">
                                        <option
                                                th:each="a : ${allAccountsInfoDTO.getAllAccounts()}"
                                                th:text="${a.getName()}"
                                                th:value="${a.getName()}">
                                        </option>
                                    </select>
                            </div>
                        </div>

                        <button type="submit" class="button" id="editExpenseBtn">Edit</button>
                        <input type="hidden" id="expenseId1" name="id"/>

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</div>

</body>
</html>