@media only screen and (max-width: 600px) {
    * {
        max-width: 100%;
    }
    #homePageTopBarContent{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    #categorySort{
        min-height: 100px;
    }
    #homePageTopBarContent, #changePlanInfo {
        position: relative;
        margin: 0;
        overflow: auto;
    }
    #homePageTopBarAccountInfo{
        display: flex;
        flex-direction: column;
    }

    #responsiveExpenseTable{
        width: 100%;
    }

    #sidebar{
        display: none;
    }

    #responsiveSidebarMenu {
        position: relative;
        left: 0;
    }
    #homePageTopBar{
        display: flex;
        flex-direction: column;
    }
    #homePageTopBarContent{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    #homePageTopBarAccountInfo{
        display: flex;
    }
    #homePageTopBarAccountFunds{
        margin-right: 10px;
    }
    #logoutBtn{
        display: none;
    }
}

@media only screen and (min-width: 601px) {
    #responsiveSidebarMenu{
        display: none;
    }
}