<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx.org@1.9.12"></script>
    <!--    FONTAWESOME KIT-->
    <script src="https://kit.fontawesome.com/1a33788db9.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Admin page</title>
</head>
<body style="height: 100vh; margin: 0; background-image: url('/images/main-table-bg-img.jpg'); ">

<div>
    <nav th:replace="~{fragments/navbar-logged}"></nav>
</div>


<div class="d-flex">

    <div>
        <div th:replace="~{fragments/sideBar}"></div>
    </div>


    <div class="flex-grow-1">
        <!--TOP BAR-->
        <div class="d-flex" id="adminTopBar">

            <!--      USER DATA-->
            <div>
                <form
                        th:action="@{/filterUsers}"
                        th:method="get"
                >
                    <input type="text" id="userSearch" name="emailFilter" placeholder="Search users by email...">
                    <button type="submit" id="filterUserBtn" class="btn btn-outline-info btn-sm px-3 me-sm-3 fw-bold">Search</button>
                </form>


            </div>


            <!--      APP DATA-->
            <div></div>

        </div>

        <!--    ADMIN PAGE DATA-->
        <div class="table-responsive-md" id="allUsersTable">
            <table class="table table-borderless table-hover"
                   th:action="@{/adminPage}"
                   th:method="get"
                   th:object="${allUsersDTO}">

                <thead>
                <tr class="">
                    <th scope="col" width="15%" style="padding-left: 15px">Full Name</th>
                    <th scope="col" width="15%">Email</th>
                    <th scope="col" width="15%"><span>Phone Number</span></th>
                    <th scope="col" width="10%">Plan</th>
                    <th scope="col" width="10%">Registered on</th>
                    <th scope="col" width="35%"></th>
                </tr>
                </thead>

                <tbody>

                <tr class="border-top border-bottom" th:each="u : ${allUsersDTO.getAllUsers()}">

                    <td
                            th:text="${u.getFirstName() + ' ' + u.getLastName()}"
                            th:value="${u.getFirstName() + ' ' + u.getLastName()}"
                            style="padding-left: 15px; font-weight: 550;">
                    </td>
                    <td
                            th:text="${u.getEmail()}"
                            th:value="${u.getEmail()}"
                            style="padding-left: 15px; font-weight: 550;">
                    </td>
                    <td
                            th:text="${u.getPhoneNumber()}"
                            th:value="${u.getPhoneNumber()}"
                            style="padding-left: 15px; font-weight: 550;">
                    </td>
                    <td
                            th:text="${u.getMembershipType().toString()}"
                            th:value="${u.getMembershipType().toString()}"
                            style="padding-left: 15px; font-weight: 550;">
                    </td>
                    <td
                            th:text="${u.getRegisteredOnDate()}"
                            th:value="${u.getRegisteredOnDate()}"
                            style="padding-left: 15px; font-weight: 550;">
                    </td>
                    <td>
                        <a      th:href="@{/allUsers/{userId}/editUser(userId = ${u.getId()})}"
                                class="btn btn-outline-info btn-sm px-3 me-sm-3 fw-bold" id="editUserBtn">Full Information</a>
                    </td>


                </tr>
                </tbody>

            </table>
        </div>
    </div>

</div>
</div>

<style>
    .table {
        --bs-table-bg: transparent;
    }
    #adminTopBar{
        border-bottom: 1px solid #2c396a;
        margin: 15px 10px;
    }
    #userSearch{
        width: 300px;
    }
    #filterUserBtn{
        margin-bottom: 5px;
        color: black;
    }
    #editUserBtn{
        color: black;
    }
</style>
</body>
</html>