<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head
        th:include="~{fragments/head-fragment :: meta-tags('adminPage.css', 'responsive.css')}">
        <title>Admin page</title>
</head>
<body style="height: 100vh; margin: 0; background-image: url('/images/main-table-bg-img.jpg'); ">

<div>
    <nav th:replace="~{fragments/navbar-logged}"></nav>
</div>


<div class="d-flex">

    <div id="sidebar">
        <div th:replace="~{fragments/sideBar}"></div>
    </div>


    <div class="flex-grow-1">

        <!--    div for responsive top bar-->
        <div id="responsiveSidebarMenu">
            <div th:replace="~{fragments/responsive/responsiveSideBarMenu}"></div>
        </div>


        <!--TOP BAR-->
        <div class="d-flex" id="adminTopBar">

            <!--      USER DATA-->
            <div>
                <form
                        th:action="@{/filterUsers}"
                        th:method="get"
                >
                    <input type="text" id="userSearch" name="emailFilter" placeholder="Search users by email...">
                    <button type="submit" id="filterUserBtn" class="btn btn-outline-info btn-sm px-3 me-sm-3 fw-bold">Search</button>
                </form>


            </div>


            <!--      APP DATA-->
            <div></div>

        </div>

        <!--    ADMIN PAGE DATA-->
        <div class="table-responsive-md" id="allUsersTable">
            <table class="table table-borderless table-hover"
                   th:action="@{/adminPage}"
                   th:method="get"
                   th:object="${allUsersDTO}">

                <thead>
                <tr class="">
                    <th scope="col" width="15%" style="padding-left: 15px">Full Name</th>
                    <th scope="col" width="15%">Email</th>
                    <th scope="col" width="15%"><span>Phone Number</span></th>
                    <th scope="col" width="10%">Plan</th>
                    <th scope="col" width="10%">Registered on</th>
                    <th scope="col" width="35%"></th>
                </tr>
                </thead>

                <tbody>

                <tr class="border-top border-bottom" th:each="u : ${allUsersDTO.getAllUsers()}">

                    <td
                            th:text="${u.getFirstName() + ' ' + u.getLastName()}"
                            th:value="${u.getFirstName() + ' ' + u.getLastName()}"
                            style="padding-left: 15px; font-weight: 550;">
                    </td>
                    <td
                            th:text="${u.getEmail()}"
                            th:value="${u.getEmail()}"
                            style="padding-left: 15px; font-weight: 550;">
                    </td>
                    <td
                            th:text="${u.getPhoneNumber()}"
                            th:value="${u.getPhoneNumber()}"
                            style="padding-left: 15px; font-weight: 550;">
                    </td>
                    <td
                            th:text="${u.getMembershipType().toString()}"
                            th:value="${u.getMembershipType().toString()}"
                            style="padding-left: 15px; font-weight: 550;">
                    </td>
                    <td
                            th:text="${u.getRegisteredOnDate()}"
                            th:value="${u.getRegisteredOnDate()}"
                            style="padding-left: 15px; font-weight: 550;">
                    </td>
                    <td>
                        <a      th:href="@{/allUsers/{userId}/editUser(userId = ${u.getId()})}"
                                class="btn btn-outline-info btn-sm px-3 me-sm-3 fw-bold" id="editUserBtn">Full Information</a>
                    </td>


                </tr>
                </tbody>

            </table>
        </div>
    </div>

</div>
</div>

<style>
    .table {
        --bs-table-bg: transparent;
    }
</style>
</body>
</html>