<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head
        th:include="~{fragments/head-fragment :: meta-tags('responsive.css', null)}">
        <title>All expenses page</title>
</head>
<body style="height: 100vh; margin: 0; background-image: url('/images/main-table-bg-img.jpg');">

<div>
    <nav th:replace="~{fragments/navbar-logged}"></nav>
</div>

<div class="d-flex">
    <div id="sidebar">
        <div th:replace="~{fragments/sideBar}" style="margin-right: 0"></div>
    </div>

    <!--    main div for table-->
    <div class="flex-grow-1" style="border-radius: 10px">


        <!--    div for responsive top bar-->
        <div id="responsiveSidebarMenu">
            <div th:replace="~{fragments/responsive/responsiveSideBarMenu}"></div>
        </div>


        <h3 style="margin: 10px">My Bills</h3>

        <div class="d-flex" style="border-top: 1px solid #2c396a;border-bottom: 1px solid #2c396a">


            <div>
                <p
                        th:text="'Total funds assigned: ' + '$' + ${totalExpensesFunds}"
                        th:value="'Total funds assigned: ' + '$' +  ${totalExpensesFunds}"
                        style="color: green; font-weight: bold"
                ></p>
            </div>
            <div>
                <p
                        th:text="'Today\'s date is: '  + ${todaysDate}"
                        th:value="'Today\'s date is: '  + ${todaysDate}"
                        style="color: #2c396a; font-weight: bold; margin-left: 20px"
                ></p>
            </div>
            <form
                    th:action="@{/categorySort}"
                    th:method="get">
                <div class="d-flex" style="align-items: baseline; height: 10px">
                    <p style="margin-left: 20px; margin-right: 10px; font-weight: bold; color: #2c396a;" id="myPlanPara">
                        Sort by
                        Category:</p>
                    <div>
                        <select name="category" style="background-color: aliceblue;font-weight: 500;">
                            <option
                                    th:each="c : ${expenseCategories}"
                                    th:text="${c.getCategory()}"
                                    th:value="${c.getCategory()}">
                            </option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-outline-info btn-md px-4 me-sm-3 fw-bold"
                            style="margin-left: 10px">
                        Sort
                    </button>
                </div>
            </form>
        </div>

        <div th:replace="~{fragments/expensesTableFragment}"></div>

    </div>

</div>
</body>
</html>