<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
          crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/1a33788db9.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" th:href="@{/css/responsive.css}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8">
  <title>Categorized expenses</title>
</head>
<body style="height: 100vh; margin: 0; background-image: url('/images/main-table-bg-img.jpg');">

<div>
  <nav th:replace="~{fragments/navbar-logged}"></nav>
</div>

<div class="d-flex">
  <div id="sidebar">
    <div th:replace="~{fragments/sideBar}" style="margin-right: 0"></div>
  </div>

  <!--    main div for table-->
  <div class="flex-grow-1" style="border-radius: 10px">

    <h3
            th:text="${category}"
            th:value="${category}"
            style="margin: 10px">Category</h3>

    <div class="d-flex" style="border-top: 1px solid #2c396a;border-bottom: 1px solid #2c396a">

      <div>
        <p
                th:text="'Total funds assigned in this category ' + '$' + ${categoryTotalBalance}"
                th:value="'Total funds assigned in this category ' + '$' + ${categoryTotalBalance}"
                style="color: green; font-weight: bold"
        ></p>
      </div>
      <div>
        <p
                th:text="'Today\'s date is: '  + ${todaysDate}"
                th:value="'Today\'s date is: '  + ${todaysDate}"
                style="color: #2c396a; font-weight: bold; margin-left: 20px"
        ></p>
      </div>
    </div>

    <div class="table-responsive-md">
      <table class="table table-borderless table-hover"
             th:action="@{/categorySort}"
             th:method="get"
             th:object="${expensesByCategory}">

        <thead>
        <tr class="">
          <th scope="col" width="20%" style="padding-left: 15px">BILL</th>
          <th scope="col" width="35%">TARGET</th>
          <th scope="col" width="20%"><span>ACCOUNT ASSIGNED</span></th>
          <th scope="col" width="15%"><span>CATEGORY</span></th>
        </tr>
        </thead>

        <tbody>

        <tr class="border-top border-bottom" th:each="e : ${expensesByCategory}"
            th:id="'expenseRow-' + ${e.getId()}">

          <td
                  th:text="${e.getName()}"
                  th:value="${e.getName()}"
                  style="padding-left: 15px; font-weight: 550;">
          </td>
          <td
                  th:text="'$' + ${e.assigned} + ' needed by ' + ${e.periodDate}"
                  th:value="'$' + ${e.assigned} + ' needed by ' + ${e.periodDate}"
                  style="border: none; font-weight: bold; font-style: italic;">
          </td>

          <td style="font-weight: 550;">
            <a th:href="@{allAccountsPage}" style="text-decoration: none; color: #1E88E5">
              <th:block
                      th:text="${e.getAccount().getName()}"
                      th:value="${e.getAccount().getName()}"></th:block>
            </a>
          </td>
          <td
                  th:text="${e.getCategory()}"
                  th:value="${e.getCategory()}"
                  style="padding-left: 15px; font-weight: 550;">
          </td>
        </tr>
        </tbody>

      </table>
    </div>

  </div>

</div>
<style>
  .table{
    --bs-table-bg: transparent;
  }
</style>
</body>
</html>