<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head
        th:include="~{fragments/head-fragment :: meta-tags('responsive.css', null)}">
        <title>Home Page for Logged Users</title>

</head>
<body style="height: 100vh; margin: 0; background-image: url('/images/main-table-bg-img.jpg'); ">

<div>
    <nav th:replace="~{fragments/navbar-logged}"></nav>
</div>


<!--  main div that holds sidebar and table-->
<div class="d-flex">

    <!--    main div for the sidebar-->
    <div id="sidebar">
        <div th:replace="~{fragments/sideBar}"></div>
    </div>


    <!--    main div for table-->
    <div class="flex-grow-1" id="homePageMainDiv">

        <div class="d-flex  justify-content-between" id="homePageTopBar"
             style="border-bottom: 1px solid #2c396a; margin-bottom: 10px">
            <!--    div for responsive top bar-->
            <div id="responsiveSidebarMenu">
                <div th:replace="~{fragments/responsive/responsiveSideBarMenu}"></div>
            </div>

            <div class="d-flex" id="homePageTopBarContent">
                <div id="homePageTopBarAccountInfo">
                    <div id="homePageTopBarAccountFunds">
                        <p
                                th:text="'Total funds in accounts: ' + '$'+ ${allAccountsInfoDTO.getTotalBalance()}"
                                th:value="'Total funds in accounts: ' + '$'+ ${allAccountsInfoDTO.getTotalBalance()}"
                                th:style="${allAccountsInfoDTO.getTotalBalance()} < 0 ? 'color: red;border: none; font-weight: bold;'
                                     : 'color: green;border: none; font-weight: bold;'"
                        ></p>
                    </div>
                    <div>
                        <p
                                th:text="'Total funds assigned: ' + '$' + ${totalExpensesFunds}"
                                th:value="'Total funds assigned: ' + '$' +  ${totalExpensesFunds}"
                                style="color: green; font-weight: bold"
                        ></p>
                    </div>
                </div>
                <div id="categorySort">
                    <div>
                        <p id="todaysDatePara"
                                th:text="'Today\'s date is: '  + ${todaysDate}"
                                th:value="'Today\'s date is: '  + ${todaysDate}"
                                style="color: #2c396a; font-weight: bold; margin-left: 20px"
                        ></p>
                    </div>
                    <form
                            th:action="@{/categorySort}"
                            th:method="get">
                        <div class="d-flex" style="align-items: baseline; height: 10px">
                            <p style="margin-left: 20px; margin-right: 10px; font-weight: bold; color: #2c396a;" id="myPlanPara">
                                Sort by
                                Category:</p>
                            <div>
                                <select name="category" style="background-color: aliceblue;font-weight: 500;">
                                    <option
                                            th:each="c : ${expenseCategories}"
                                            th:text="${c.getCategory()}"
                                            th:value="${c.getCategory()}">
                                    </option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-outline-info btn-md px-4 me-sm-3 fw-bold"
                                    style="margin-left: 10px">
                                Sort
                            </button>
                        </div>
                    </form>
                </div>

            </div>

            <div class="d-flex flex-column" style="margin-right: 10px" id="changePlanInfo">
                <div class="d-flex" style="color: white">
                    <p style="color: #2c396a; font-weight: bold; margin-right: 10px">My current plan is </p>
                    <p th:text="${userFullNameDTO.getMembership()}"
                       style="color: #f3a63b; font-weight: bold; font-style: italic"></p>
                </div>

                <div class="d-flex">
                    <div>
                        <p style="color: #2c396a;font-weight: bold; margin-right: 10px">Change plan here</p>
                    </div>
                    <form
                            th:action="@{/changePlan}"
                            th:method="post"
                    >
                        <button th:replace="~{fragments/changePlanForm}"></button>
                    </form>
                </div>
            </div>

        </div>

        <div th:replace="~{fragments/expensesTableFragment}"></div>

    </div>
</div>


</body>
</html>