<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head
        th:include="~{fragments/head-fragment :: meta-tags('howItWorksStyle.css', 'responsive.css')}">
        <title>Home Page</title>
</head>

<body data-spy="scroll" style="background-image: url('/images/indexPageBG-IMG.png')">
<div sec:authorize="isAuthenticated()">
    <nav th:replace="~{fragments/navbar-logged}"></nav>
</div>
<div sec:authorize="!isAuthenticated()">
    <nav th:replace="~{fragments/navbar-guest}"></nav>
</div>

<div class="container px-4 py-5">
    <h2 class="pb-2 border-bottom howItWorksText">How everything works?</h2>

    <div class="row row-cols-1 row-cols-md-1 align-items-md-left g-5 py-5 d-flex flex-column">
        <div class="col d-flex flex-column align-items-start gap-2">
            <h3 class="howItWorksText">It's actually really easy!</h3>
            <p class="howItWorksText">It's okay if things seems a bit confusing. Let us clear the fog and explain how everything works!
            On the left you can view various information about all the features that we provide: Accounts, Expenses and of course our Goals!

            </p>
        </div>


            <div class="col">
                <div class="row row-cols-1 row-cols-md-1 g-4 flex-column">
                    <div class="col d-flex flex-column gap-2">
                        <details>
                            <summary class="fw-semibold mb-0 fs-4 howItWorksText">Accounts</summary>
                            <p class="howItWorksText">When you register we automatically create an account for you. You can use this account or create your own.
                            Creating your own account is very simple: on the sidebar, click the plus icon next to "My Accounts"
                            Enter the requested information and create your account! Keep in mind you can always edit your account
                            name, even the one we created for you. After you created your account, add funds to it, and you are ready to go! Please keep in mind that your accounts
                                could have negative value and transactions will be occurring. To remind you that you need to add funds, we will display
                                your current account balance in <span style="color: red">red</span>. To add funds to an account or to change it's name
                            click on the corresponding "Edit account" button.</p>

                        </details>
                    </div>
                    <div class="col d-flex flex-column gap-2">
                        <details>
                            <summary class="fw-semibold mb-0 fs-4 howItWorksText">Expenses</summary>
                            <p class="howItWorksText">This part could be the hardest to follow, because we try to provide all the options you could need. But hey, once you get a glance at it,
                            you will be managing your finances effortless. To create an expense, we pretty much follow the steps for creating an account:
                            click on the plus icon next to "My Bills" and fill up the required information. This is the neat part: you can categorize your expenses,
                            you can enter various period payments, assign different accounts to them. You can use the buttons "Weekly", "Monthly", "Yearly", "One time buy"
                            to choose the exact payment period for your bill. For example if you pay your Electricity every 25th of the month, you can simply select:
                             Monthly -> 25th from the dropdown and assign the amount required. If something changes, you can always edit the expenses information or
                                delete the expense.
                            </p>
                        </details>
                    </div>
                    <div class="col d-flex flex-column gap-2">
                        <details>
                            <summary class="fw-semibold mb-0 fs-4 howItWorksText">Goals</summary>
                            <p class="howItWorksText">Here comes our favorite part! Goals and dreams should be a part of everyone's life, so we provide a feature where you can add and track
                                your goals. To add a goal, we simply go to the sidebar and this time click on the heart button, next to "My Goals". Enter the required information
                                and create your goal! You can easily track your goal by visiting "My Goals" page, located on the sidebar. There you will find all your goals,
                                each of which will have a progress bar for easier tracking. You can edit or add funds to your goals via the button
                                 located across each goal. When a goal is completed, it will disappear from the "My Goals". The completed
                                goals can be viewed from the little red heart button in the top-right corner of the "My Goals" page.
                            </p>
                        </details>
                    </div>
                    <div class="col d-flex flex-column gap-2">
                        <details>
                            <summary class="fw-semibold mb-0 fs-4 howItWorksText">Transactions</summary>
                            <p class="howItWorksText">You can track all your transactions in-app. You can both view the transaction for a specific account or all of your transactions.
                                You can also export transaction history in CSV files. In case you want to export the transaction history of a specific account,
                                you can do so by going at "My Accounts" page and click "my transaction history". You will be led to a page where you can view
                                all the said account transaction history. In the top left corner there is a "download CSV file" button. In case you want to
                                download a CSV file for all of your transactions, click on "My Transactions" located on the sidebar and follow the same steps.
                            </p>
                        </details>
                    </div>
                </div>
            </div>

    </div>
</div>


</body>
</html>