<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head
        th:include="~{fragments/head-fragment :: meta-tags('indexPageStyle.css')}">
        <title>Home Page</title>
</head>
<body data-spy="scroll">

<div>
    <nav th:replace="~{fragments/navbar-guest}"></nav>
</div>

<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="/images/phone-image.png" class="d-block mx-lg-auto img-fluid" id="phone-pic" alt="#"
                 width="700" height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
            <h2 class="display-5 fw-bold"
                th:text="#{indexPage.title_1}"
            >Care for your money, but let us do the work!</h2>
            <p class="lead fw-bold fst-italic" id="firstParagraphOfIndexPage"
               th:text="#{indexPage.title_2}">Combine effortless saving, free to use and
                flexible methods for managing finances app with your dreams! </p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <a th:href="@{/users/register}">
                    <button type="button" class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold" id="signUpBtn"
                            th:text="#{nav_bar_sign_up}">Sign up
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="text-secondary px-4 py-5 text-center" id="midHero">
    <div class="py-5">
        <h2 class="display-5 fw-bold"
            th:text="#{indexPage.midHero_1}">Don't waste another second!</h2>
        <div class="col-lg-6 mx-auto">
            <p class="fs-5 mb-4 fw-bold fst-italic" id="midParagraph"
               th:text="#{indexPage.midHero_2}">Let's find that financial independence together! The average PineConer
                saves up to
                6,000$ their first year! There is a plan for everyone! Check out our pricing below.</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <a th:href="@{/users/register}">
                    <button type="button" class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold"
                            th:text="#{nav_bar_sign_up}">Sign up for free
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="d-flex flex-wrap align-items-center justify-content-center" id="pricing">
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center w-75">
        <div class="col">
            <div class="pricingCard mb-4 rounded-3 shadow-sm" id="pricingCard1">
                <div class="card-header py-3">
                    <h4 class="my-0 fw-normal"
                        th:text="#{indexPage.pricingCard1_title}"
                    >FREE</h4>
                </div>
                <div class="card-body d-flex flex-column">
                    <h1 class="card-title pricing-card-title">$0<small
                            class="fw-light">/mo</small></h1>
                    <ul class="list-unstyled mt-3 mb-5">
                        <li th:text="#{indexPage.pricingCard1_content1}">1 Account</li>
                        <li th:text="#{indexPage.pricingCard1_content2}">Email support</li>
                        <li th:text="#{indexPage.pricingCard1_content3}">Help center access</li>
                    </ul>
                    <a th:href="@{/users/register}">
                        <button type="button" class="w-100 btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold"
                                th:text="#{nav_bar_sign_up}">Sign up for free
                        </button>
                    </a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="pricingCard mb-4 rounded-3 shadow-sm" id="pricingCard2">
                <div class="card-header py-3">
                    <h4 class="my-0 fw-normal"
                        th:text="#{indexPage.pricingCard2_title}">GOLD</h4>
                </div>
                <div class="card-body d-flex flex-column">
                    <h1 class="card-title pricing-card-title">$15<small
                            class="fw-light">/mo</small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li th:text="#{indexPage.pricingCard2_content1}">2 Accounts</li>
                        <li th:text="#{indexPage.pricingCard2_content2}">Export your transaction history</li>
                        <li th:text="#{indexPage.pricingCard2_content3}">Priority email support</li>
                        <li th:text="#{indexPage.pricingCard2_content4}">Help center access</li>
                    </ul>
                    <a th:href="@{/users/register}">
                        <button type="button" class="w-100 btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold"
                                th:text="#{nav_bar_sign_up}">Get started
                        </button>
                    </a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="pricingCard mb-4 rounded-3 shadow-sm" id="pricingCard3">
                <div class="card-header py-3 ">
                    <h4 class="my-0 fw-normal"
                        th:text="#{indexPage.pricingCard3_title}"
                    >PREMIUM</h4>
                </div>
                <div class="card-body d-flex flex-column">
                    <h1 class="card-title pricing-card-title">$29<small
                            class="fw-light">/mo</small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li th:text="#{indexPage.pricingCard3_content1}">Up to 10 Accounts</li>
                        <li th:text="#{indexPage.pricingCard3_content2}">Export your transaction history</li>
                        <li th:text="#{indexPage.pricingCard3_content3}">Phone and email support</li>
                        <li th:text="#{indexPage.pricingCard3_content4}">Help center access</li>
                    </ul>
                    <a th:href="@{/users/register}">
                        <button type="button" class="w-100 btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold"
                                th:text="#{nav_bar_sign_up}">Get started
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <nav th:replace="~{fragments/footer}"></nav>
</div>
</body>
</html>